:root {
    --green: #3DAE2B;
    --green-dark: #2C4F36;
    --brown: #9B552B;
    --brown-dark: #4D3535;
    --red: #E1251B;
    --purple: #31274D;
    --dark: #1B1B1B;
    --light: #F8F8F8;
    --black: #000000;
    --grey: #BABABA;
    --bs-font-sans-serif: "Montserrat", sans-serif;
    --green-light: #D8EFD5;
}

body {
    background: var(--light);
}

.bg-green {
    background-color: var(--green)
}

.bg-green-dark {
    background-color: var(--green-dark)
}

.bg-green-light {
    background-color: var(--green-light)
}

.bg-brown {
    background-color: var(--brown)
}

.bg-brown-dark {
    background-color: var(--brown-dark)
}

.bg-red {
    background-color: var(--red)
}

.bg-purple {
    background-color: var(--purple)
}

.bg-dark {
    background-color: var(--dark)
}

.text-light {
    color: var(--light)
}

.navbar {
    padding: 0;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    box-shadow:
        0px 12px 24px rgba(0, 0, 0, .09),
        0px 6px 30px rgba(0, 0, 0, .2);
}

.navbar-brand {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: white;
    padding: 0 20px;
}


@media (min-width: 720px) {

    .navbar-brand {
        width: 126px;
        height: 92px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        padding: 0;
    }

}

.wizard-item {
    position: relative;
}

@media (min-width: 720px) {

    .wizard-item:first-of-type {
        margin-left: 72px; 
    }

    .wizard-item {
        padding-left: 56px;
        padding-right: 56px;
    }

}

.wizard-item .nav-link {
    display: flex;
    align-items: center;
    color: var(--black);
    padding: 20px;
}

@media (min-width: 720px) {

    .wizard-item.active {
        background: var(--green);
    }

    .wizard-item.active .nav-link {
        color: var(--light)
    }

}

.wizard-item-number {
    width: 40px;
    height: 40px;
    background-color: var(--light);
    color: var(--green);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    font-size: 1rem;
}

@media (min-width: 720px) {

    .wizard-item-number {
        width: 48px;
        height: 48px;
        font-size: 1.8rem;
        margin-right: 16px;
        background-color: var(--green);
        color: var(--light);
    }

}

.wizard-item.active .wizard-item-number {
    background-color: var(--green);
    color: var(--light)
}

@media (min-width: 720px) {

    .wizard-item.active .wizard-item-number {
        background-color: var(--light);
        color: var(--green)
    }

}

@media (min-width: 1340px) {

    .wizard-item:not(:last-child):after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 44px solid transparent;
        border-bottom: 44px solid transparent;
        border-left: 32px solid var(--light);
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 1;
    }

    .wizard-item.visited:after{
        border-left: 32px solid #E5E5E5; 
    }

    .wizard-item.active:after {
        border-left-color: var(--green);
    }

}

.wizard-item.visited{ 
    background-color: #E5E5E5;
}

/* card */
.card.restaurant, .card.menu, .card.opcion {
    overflow: hidden;
    background: rgba(0, 0, 0, .15);
}

.card.menu, .card.opcion{
    height: 50vh;
}

.card-body.bg-brown {
    background: rgba(155, 85, 43, .65) !important;
}

.card-body.bg-red {
    background: rgba(225, 37, 27, .45) !important;
}

.card-body.bg-dark {
    background: rgba(0, 0, 0, .65) !important;
}

.card-header {
    padding: 1.5rem 0;
}

.card-header img {
    height: 70px;
}

.card-footer { 
    font-weight: 700; 
    cursor: pointer;
}

.card-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.list-group-item { 
    position: relative;
    background: none;
    border: none;
    color: var(--light);
    font-size: .85rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 30px;
}

.list-group-item-description *:nth-child(1) {
    font-weight: 700;
}

.list-group-item-description *:nth-child(2) {
    font-weight: 400;
    color: var(--grey);
}

.list-group-item[data-number]:after{
    content: attr(data-number);
    position: absolute;
    border-radius: 50px;
    background: var(--red);
    color: light;
    font-size: 1.1rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
}

/* galeria */
  
.swiper-button-prev,
.swiper-button-next {
    height: 100%;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev {
    background-image: url(assets/icon-arrow-left.svg); 
    left: 0;
}
  
.swiper-button-next {
    background-image: url(assets/icon-arrow-right.svg);   
    right: 0;
}
 
.swiper-button-prev::after, 
.swiper-button-next::after{
    display: none;
} 

.galeriaSwiper {
    width: 100%;
    height: 100%;
} 

.galeriaSwiper .swiper-slide {
    width: 80%;
} 

.galeriaSwiper .swiper-button-prev,
.galeriaSwiper .swiper-button-next {
    width: 8%; 
    top: 4%; 
    background-color: rgba(0, 0, 0, .2)
} 

.menuSwiper .swiper-button-prev,
.menuSwiper .swiper-button-next {
    width: 8%; 
    top: 6%;
    background-size: 70%;
} 

.invert {
    filter: invert();
}

/* modal galeria */

.modal{
    height:90vh; 
    top: 10vh;
}

.modal-header{
    border: none;
    padding: 0;
    margin: 0 auto;
}

.btn-close{
    opacity: 1;
    background-size: 30px;
    right: 5rem;
    position: absolute;
    background-image: url(assets/icon-close.svg)
}

/* wizard */

.wizard .wizard-content {
    position: relative;
    height: 100%;
}

.wizard-step-container {
    position: relative;
    width: 100%;
}

.wizard .wizard-step {
    display: none;
    opacity: 0;
    z-index: 0;
    width: 100%;
    transition: all .3s ease-in-out;
}

.wizard .wizard-step.active {
    display: block;
    opacity: 1;
    z-index: 1;
}

.wizard .wizard-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.wizard .wizard-list .wizard-item {
    color: var(--light);
    font-weight: 600;
    display: flex;
    transition: color .3s ease-in-out;
    align-items: center;
    justify-content: center;
} 
 
/* swiper */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-check{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
}
.icon-check img  {
    object-fit: cover;
    width: 50%;
}